* {
    box-sizing: border-box;
  }
  :root {
    --primary-color: #0f1b4c;
  }
  html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
  }
  /* Common */
  .content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
  }
  a {
    text-decoration: none;
  }
  .btn {
    min-width: 98px;
    border-radius: 12px;
    background: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    padding: 18px 16px;
  }
  .btn:hover {
    opacity: 0.7;
  }
  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  /* header */
  .header {
    position: relative;
    background: #e6f0ff;
    height: 100vh;
  }
  .navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
  }
  .navbar ul a {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
    padding: 8px 14px;
  }
  .navbar ul a:hover {
    text-decoration: underline;
  }
  .navbar ul {
    display: flex;
    margin-left: 50px;
  }
  .navbar .action {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
  .navbar .action-link {
    font-size: 1.4rem;
    font-weight: 500;
    color: #0f1b4c;
  }
  .navbar .action-btn {
    border-radius: 8px;
    padding: 13px 16px;
    margin-left: 18px;
  }
  /* hero */
  
  .hero {
    margin-top: 130px;
  }
  .hero .info {
    width: 51%;
  }
  .hero .sub-title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
  }
  .hero .title {
    margin-top: 8px;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.19;
    color: var(--primary-color);
  }
  .hero .desc {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
    margin-top: 30px;
  }
  .hero-cta {
    display: inline-block;
    margin-top: 40px;
  }
  .hero-img {
    position: absolute;
    bottom: 0;
    right: calc(100vw - 100% - 48px);
  }
  /* clients */
  .client {
    margin-top: 122px;
  }
  .client .row {
    display: flex;
    justify-content: space-between;
  }
  .client .row-desc {
    margin-top: 23px;
  }
  .client .desc {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25;
    color: #7d8589;
  }
  .client .images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
  }
  /* Guide */
  .guide .sub-title {
    position: relative;
    margin-top: 200px;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    color: #000339;
  }
  .guide .sub-title::before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
  .guide .desc {
    margin-top: 20px;
    width: 459px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
    letter-spacing: 0em;
    color: #5a6473;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  /* List guide */
  .list-guide {
    margin-top: 70px;
    display: flex;
    justify-content: center;
  }
  .list-guide .guide-item {
    margin: 0 70px;
    text-align: center;
  }
  .list-guide .title {
    margin-top: 26px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
    color: #3b3c45;
  }
  .list-guide .link {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.5;
    color: #0689ff;
  }
  .guide-item .arrow {
    margin-left: 6px;
  }
  .guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 48px;
  }
  .guide-btn {
    min-width: 170px;
  }
  /* feature */
  .feature {
    margin-top: 120px;
    padding: 110px 0px;
    background: #f5fafe;
  }
  .feature .title {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
  }
  .feature .row {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .feature .desc {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
    color: #5a6473;
  }
  .feature .link {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.5;
    color: #0689ff;
  }
  .feature .arrow {
    margin-left: 8px;
  }
  /* list */
  .list {
    display: flex;
    gap: 30px;
    margin-top: 68px;
  }
  .list .item {
    flex: 1;
  }
  .list .item .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
  }
  .list .body {
    padding-left: 17px;
    background:#FFF;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  .list .body .title a {
    padding-top: 17px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    color: #000339;
    --line-clamp: 2;
  }
  .list .body .desc {
    margin-top: 11px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    color: #A3A6AB;
  
  }
  .list .info {
    margin-top: 21px;
  }
  .list .info .label {
    margin-left: 8px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #4D4D52;
    
  }
  .list .info .icon {
    margin-left: 8px;
  }
  .list .info .icon:first-child {
    margin-left: 0;
  }
  /* Stats */
  .stats{
    margin-top: 75px;
    padding: 50px 0;
  }
  .stats .content {
    width: 1048px;
  }
  .stats .img-block {
    display: flex;
  }
  .stats .img-block .row, .stats .img-block .info {
    width: 50%;
  }
  .stats .img-block .row {
    position: relative;
  }
  .stats .img-block .image {
    display: flex;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
    margin-left: auto;
  }
  .stats .info {
    padding-left: 165px;
  }
  .stats .info .sub-tittle {
    display: inline-block;
    padding-top: 79px;
    width: 269px;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.28;
    color: #000339;
  }
  .stats .info .sub-tittle::before {
    content: "";
    top: -10px;
    width: 41px;
    height: 4px;
    display: block;
    background: #000339;
    border-radius: 12px;
  }
  .stats .info .desc {
    width: 309px;
    margin-top: 20px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
    color: #5A6473;
  }
  .stats .stats-trend {
    padding: 45px 20px;
    position: absolute;
    left: 0;
    top: 0;
    width: 239px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background: #FFF;
  }
  .stats .stats-trend .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
 .stats .stats-trend .value {
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #000339;
 }
 .stats .stats-trend .icon {
    right: 0;
 }
 .stats .stats-trend .desc {
    margin-top: 8px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #A7A7A7;
 }
 .stats .stats-trend .separate {
  display: flex;
  align-items: center;
  height: 1px;
  width: 192px;
  margin-top: 25px;
  background: #E9E9EA;
 }
 .stats .stats-trend .avatar-block {
    margin-top: 26px;
    gap: 16px 14px;
    display: flex;
    flex-wrap: wrap;
 }
 .stats .stats-trend .avatar-block .avatar-group {
  display: flex;
 }
 .avatar-group {
  margin-left: 16px;
 }
 .avatar-group:first-child {
    margin-left: 0;
 }
 .avatar-group .avatar {
    object-fit: cover;
    height: 16px;
    margin-left: -3px;
    width: 16px;
    border-radius: 50%;
 }
 .stats .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 110px 228px 50px 228px;

 }
 .stats .row .qty {
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1;
    color: #000000;
 }
 .stats .row .qty-desc {
    margin-top: 22px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    color: #7B8087;
 }



 .footer {
    margin-top: 165px;
    padding: 50px 0 58px;
    background: #f5f5f5;
 }